@import './utils';

@import url( 'https://fonts.googleapis.com/css?family=Oswald:300,500' );
$BLACK: #222222;
$WHITE: #FFFFFF;

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 62.5%;
}
  
.loader {
  @extend .center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $BLACK;
  z-index: 2;
  
  &--hidden {
    display: none;
    visibility: hidden;
  }
}
    

.loader__progress {
  position: relative;
  width: 15%;
  height: 3px;
  background-color: lighten( $BLACK, 10 );
  z-index: 1;

  &__bar {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $WHITE;
    transform: scaleX( 0 );
    will-change: transform;
  }
}
   

.credits {
  position: absolute;
  right: 20px;
  bottom: 20px;
  color: $WHITE;
  text-align: right;
  font-family: 'Oswald';
  
  &__title {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
    
  &__link {
    text-decoration: none;
    font-weight: 300;
  color: $WHITE;
    font-size: 1.3rem;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $WHITE;
      transform-origin: 100% 50%;
      transform: scale( 0 );
      transition: transform 0.2s $easeOutSine;
      will-change: transform;
    }
      
    &:hover:after {
      transform-origin: 0% 50%;
      transform: scaleX( 1 );
    }
  }  
}